<div class='my-5'>
  {{#with tour}}
  <div class="container">
    <span class="text-danger">Tour ID: <span id="tourUID">{{_id}}</span></span>
  </div>
  <hr>
  <div>
      <div class='d-flex flex-column justify-content-between w-75 container'>
          <div>
            <img
              src='/uploads/{{photo}}'
              alt='...'
              class='img-fluid mb-3'
              style='max-height: 250px; width: 100%'
            />
            <span class="text-muted me-5">Tour: {{title}}</span>
            <span class="text-muted ms-5">Seats Left: <span class="text-warning" id="seats">{{seats}}</span></span>
          </div>
          <h5 class="mt-3 text-info">Debit Card:</h5>
          <div class="bg-light card ps-3 py-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="payment" id="visa" checked>
              <label class="form-check-label" for="visa">
                  <i class="fab fa-cc-visa"></i> VISA
              </label>
            </div>
          </div>
      <div>
    {{/with}}
      <div class="py-3">
          <form id='payment' action='/tours/{{tour._id}}/payment' method='POST'>
            <script
              src='//checkout.stripe.com/v2/checkout.js'
              class='stripe-button'
              data-key={{key}}
              data-amount='{{tour.cost}}00'
              data-currency='INR'
              data-name={{tour.title}}
              data-description='Pay To Confirm Your Booking'
              data-locale='auto'
            ></script>
        </form>
      </div>
      <div class="alert alert-warning">
        <p>To generate a successful payment response:</p>
        <ul class="text-success">
          <li><span class="fw-bold"> Email:</span> Any valid email</li>
          <li><span class="fw-bold"> Card no:</span> 4242 4242 4242 4242 or 5555 5555 5555 4444</li>
          <li><span class="fw-bold"> Expiry:</span> Any future month and year</li>
          <li><span class="fw-bold"> CVV:</span> Any three digits</li>
        </ul>
      </div>
  </div>
</div>
