<div class='bg-secondary'>
  <div class='d-flex container'>
    <div class='w-25 my-auto py-3'>
      <img
        src='/uploads/{{tour.photo}}'
        alt='...'
        class='img-fluid'
        style='max-height: 250px; width: 100%'
      />
      {{#if username}}
        <button
          type='button'
          class='btn btn-primary mt-3 w-100'
          data-bs-toggle='modal'
          data-bs-target='#modal-photo-tour'
        >
          Change Profile Photo
        </button>
        <a href='/tours/{{tour._id}}/enroll' class='btn btn-dark mt-3 w-100'>
          Book Tour
        </a>
      {{/if}}
    </div>
    <div class='d-flex flex-column justify-content-between w-75 p-5'>
      {{#with tour}}
        <div>
          <h2 class='text-uppercase text-light'>{{title}}</h2>
          <hr />
          <div class='text-warning'>
            Rating:
            {{averageRating}}
            <span class='text-warning float-end w-50'>Seats Left:
              {{seats}}</span>
          </div>
          <div class='d-flex'>
            <span class='w-50'>From: {{from}} </span>
            <span class='w-50'>To: {{to}}</span>
          </div>
          <div class='d-flex'>
            <span class='w-50'>Duration: {{duration}} days</span>
            <span class='w-50'>Cost: $ {{cost}}</span>
          </div>
          <div class='me-5 mt-2'>Description:
            {{description}}</div>
        </div>
      {{/with}}
      <div>
        {{#if username}}
          <div class='float-end pt-5'>
            <button
              id='id-hack'
              type='button'
              class='btn btn-warning'
              data-bs-toggle='modal'
              data-bs-target='#modal-update-tour'
            >
              Update Tour
            </button>
            <button id='delete-btn-tour' class='btn btn-danger ms-3'>Delete Tour</button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div class='bg-dark py-5'>
  <h3 class='text-light container'>Reviews:</h3>
  <hr class='text-light' />
  {{#if userrole}}
    <div class='bg-secondary px-5 py-3'>
      <form action='/tours/{{tour._id}}/reviews' method='POST'>
        <div class='row'>
          <div class='col'>
            <input
              type='text'
              class='form-control bg-dark text-light'
              placeholder='Title'
              name='title'
              required
            />
          </div>
          <div class='col d-flex text-light mb-2'>
            <span class='w-25 text-center'>Rating: </span>
            <div class='form-check form-check-inline'>
              <input
                class='form-check-input bg-dark'
                type='radio'
                name='rating'
                id='inlineRadio1'
                value='1'
              />
              <label class='form-check-label' for='inlineRadio1'>1</label>
            </div>
            <div class='form-check form-check-inline'>
              <input
                class='form-check-input bg-dark'
                type='radio'
                name='rating'
                id='inlineRadio2'
                value='2'
              />
              <label class='form-check-label' for='inlineRadio2'>2</label>
            </div>
            <div class='form-check form-check-inline'>
              <input
                class='form-check-input bg-dark'
                type='radio'
                name='rating'
                id='inlineRadio3'
                value='3'
              />
              <label class='form-check-label' for='inlineRadio3'>3</label>
            </div>
            <div class='form-check form-check-inline'>
              <input
                class='form-check-input bg-dark'
                type='radio'
                name='rating'
                id='inlineRadio4'
                value='4'
              />
              <label class='form-check-label' for='inlineRadio4'>4</label>
            </div>
            <div class='form-check form-check-inline'>
              <input
                class='form-check-input bg-dark'
                type='radio'
                name='rating'
                id='inlineRadio5'
                value='5'
              />
              <label class='form-check-label' for='inlineRadio5'>5</label>
            </div>
          </div>
        </div>
        <div class='d-flex'>
          <div class='input-group w-75'>
            <textarea
              class='form-control bg-dark text-light'
              name='text'
              placeholder='Comment'
              required
            ></textarea>
          </div>
          <button
            type='submit'
            class='btn btn-success w-25 ms-3 border-primary'
          >ADD REVIEW</button>
        </div>
      </form>
    </div>
  {{/if}}
  <div id='user-id-hack' class='container pt-3 {{userid}}'>
    {{#each tour.reviews}}
      <div class='card mb-3'>
        {{#with this}}
          <div class='card-header bg-dark text-light'>
            <strong class='text-uppercase'>{{username}}</strong>
            <small class='float-end'>{{createdAt}}</small>
          </div>
          <div class='card-body bg-secondary'>
            <h5 class='card-title text-light text-capitalize'>{{title}}
              <aside class='float-end invisible {{user}} {{_id}}'>
                <button
                  id='delete-review-btn'
                  class='btn btn-danger btn-sm text-uppercase'
                >delete</button>
              </aside>
            </h5>
            <h6 class='card-subtitle mb-2 text-warning'>Rating: {{rating}}</h6>
            <p class='card-text text-light'>{{text}}</p>
          </div>
        {{/with}}
      </div>
    {{/each}}
  </div>
</div>